.messagesContainer {
	display: flex;
	flex-direction: column;
	margin-top: 90px;
	z-index: 100;
	background: white;
	overflow-y: auto;
	height: calc(100vh - 170px);
}

.messagesGroup {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

.messagesGroup:last-child {
	margin-bottom: 10px;
}

@media all and (max-width: 590px) {
	.messagesContainer {
		height: calc(100vh - 150px);
	}
}