@import "../../utilities/variables";

.chatHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 50px;
	margin-right: $chatMargin - 4px;
	margin-left: $chatMargin - 4px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	position: fixed;
	background-color: #0048AB;
	font-size: 16px;
	color: white;
	border-radius: 2px;
	z-index: 1000;
}

.chatInfo {
	display: flex;
	flex-direction: row;
}

.chatInfo p {
	margin-left: 20px;
}

.lastMessageInfo {
	margin-right: 20px;
}

@media all and (max-width: 380px) {
	.chatHeader {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-top: 8px;
		font-size: 12px;
	}
	.chatInfo p {
		margin-left: 5px;
	}
	
	.lastMessageInfo {
		margin-right: 5px;
	}
}

@media all and (max-width: 590px) {
	.chatHeader {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
	}
}