@import "../../utilities/variables";

:global(#root) {

	.formWrapper {
		background: white;
		border: none;
		border-radius: 0;
		padding: 0 10px 0 10px;
		margin-bottom: 20px;
		position: fixed;
		width: calc(100% - #{$chatMargin * 2});
	}

	.form {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;

		textarea {
			border-radius: 30px;
			height: 50px;
		}
	}

	.text {
		width: 93%;
		font-size: 15px;
	}

	.button {
		width: 50px;
		height: 48px;
		background-color: #DEA01E;
		border-radius: 50%;
		margin-top: -10px;
	}

	.sendIcon {
		font-size: 20px;
		display: inline-block;
		margin-left: -6px;
	}

	@media all and (max-width: 590px) {
		.formWrapper {
			width: calc(100% - #{$mobileChatMargin * 2});
		}
	}
}